name: Generate rotation

on:
  push:
  schedule:
    - cron: '0 0 * * 1'  # every Monday at midnight

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Generate report
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - run: python rotation.py

    - name: Push results
      run: |
        git add -A
        git config --global user.email "action@github.com"
        git config --global user.name "GitHub Action"
        git commit -m 'update'
        git push
